/* ProfilePage.css */

.profile-container {
    background-color: #e0e1dd;
    color: black;
    padding: 20px; /* Adjust padding as needed */
  }
  
  .profile-photo {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
  }
  
  .profile-info {
    text-align: left;
  }
  
  .card {
    background-color: white;
    
    /* Add any other card-specific styles here */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center vertically */
    gap: 20px; /* Adjust this as per your preference */
  }
  
  .post-container {
    width: 300px; /* Set the width of each card */
    height: 400px; /* Set the height of each card */
    margin-bottom: 100px; /* Add space between each card vertically */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  