@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  padding-top: 56px; /* Adjust this value based on your navbar's height */
}
