@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Tenor+Sans&display=swap");

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #ccc5b9 !important;
}

.navbar-brand {
  color: #252422 !important;
}

.navbar a {
  color: #252422 !important;
}

.post-container,
.card {
  color: white;
}

.btn {
  background-color: white;
  color: black;
}

.main {
  text-align: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 56px;
}

.create-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
